<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Sean Wallace">
    <meta name="author" content="Sean Wallace">

    <title>Sean Wallace</title>

    <!-- Google fonts -->
    <!--link href="http://fonts.googleapis.com/css?family=Lato:300,700,300italic" rel="stylesheet" type="text/css"-->

    <!-- Styles -->
    <link href="./stylesheets/vality.min.css" rel="stylesheet">
    <link href="./javascripts/v-accordion.css" rel="stylesheet">
    <link href="./javascripts/v-tabs.css" rel="stylesheet">
    <link href="./stylesheets/style.css" rel="stylesheet">

    <!-- Scripts -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-touch.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-sanitize.min.js"></script>
    <script src="./javascripts/v-accordion.js"></script>
    <script src="./javascripts/v-tabs.js"></script>
    <script src="./javascripts/app.js"></script>
  </head>

  <body ng-app="myApp" class = "easyBackground">
   <div class = "outer">
<header class="u-marginBl u-textCenter outer animated fadeIn">
        <div>
           <br>
          <!--svg class="u-inlineBlock" width="58px" height="58px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 54 54"><g><path fill="#4CAF50" d="M3.1,27.9c0,0,10.2-24.1,11.6-27.2c0.2-0.5,0.6-0.8,1.2-0.6c0.5,0.1,0.8,0.7,1.5,2.2c1.3,2.9,18,37.2,18.7,38.6c0.8,1.6,1,2.6,0.7,3.4c-0.3,0.6-1,1.1-1.8,1.4c-2.3,0.9-20.3,7.8-21.5,8.3c-0.7,0.3-0.8-0.4-1.4-1.7C11.6,51,3.7,32.1,3.1,30.7C2.5,29.3,3.1,27.9,3.1,27.9z"/><path fill="#2196F3" d="M50.9,17.3c-0.3-0.3-0.4-0.4-0.7-0.2c-0.3,0.1-11.5,8.6-16.8,12.5c2.7,5.5,4.7,9.7,5,10.2c0.4,0.8,0.8,1.7,1,2.6c0.1-0.2,0.2-0.3,0.3-0.5c0.9-1.8,11.3-23.4,11.5-23.8C51.3,17.7,51.2,17.7,50.9,17.3z"/></g></svg-->
          <h1 id = "title" align = "CENTER" class = "mobileTitle"> Sean Wallace </h1>
          <h2 id = "tagline" align = "CENTER" class = "mobileTagline"> Cal Poly, San Luis Obispo</h2>
          <br>
        </div>
      </header>
      <div class = "u-wideWrapper">
          <a href="./documents/Sean_Wallace.pdf" id="download-pdf" class="button"><span>Resume.pdf</span></a>
          <a href="https://github.com/heatsink" id="view-on-github" class="button"><span>View on GitHub</span></a>
      </div>
      </div>
   </div>
   <div class="u-wideWrapper u-paddingHm u-paddingTl animated fadeIn easyBackground" ng-controller="MainController">
        <div class="u-marginBl">
        <section class="u-paddingBl">
          <v-tabs class="vTabs--default" horizontal control="horizontalTabs" active="horizontalTabs.active">
            <v-tab id="tabH_{{ ::page.id }}" aria-controls="pageV_{{ ::page.id }}" ng-repeat="page in pages" ng-bind="page.title"></v-tab>
          </v-tabs>
          <v-pages class="vPages--default" active="horizontalTabs.active" ng-swipe-left="horizontalTabs.next()" ng-swipe-right="horizontalTabs.previous()">
            <v-page id="pageH_{{ ::page.id }}" aria-labelledby="tabH_{{ ::page.id }}" ng-repeat="page in pages">
              <div class="u-formatedText" ng-bind-html="page.content"></div>
              <label ng-init ="val = page.id">
               <div ng-if="val == 1">
                  <div ng-cloak class="u-wideWrapper" ng-controller="MainController">
                   <v-accordion id="accordionA" class="vAccordion--default" control="accordionA" onexpand="expandCallback(index, id)" oncollapse="collapseCallback(index, id)">
                     <v-pane id="{{ ::pane.id }}" ng-repeat="pane in panesA" expanded="pane.isExpanded">
                       <v-pane-header id="{{ ::pane.id }}-header" aria-controls="{{ ::pane.id }}-content">
                         <h5>{{ ::pane.header }}</h5>
                       </v-pane-header>
                       <v-pane-content id="{{ ::pane.id }}-content" aria-labelledby="{{ ::pane.id }}-header">
                         <p>{{ ::pane.content }}</p>
                       </v-pane-content>
                     </v-pane>
                   </v-accordion>
                   </div>
               </div>
               <div ng-if="val == 2">
                    <div class="Grid-cell u-marginBl">
                   <h4 class="u-marginVm">Personal Projects</h4>
                   <v-accordion id="accordionB" class="vAccordion--default" multiple control="accordionB">
                     <v-pane id="{{ ::pane.id }}" ng-repeat="pane in panesB" expanded="pane.isExpanded">
                       <v-pane-header id="{{ ::pane.id }}-header" aria-controls="{{ ::pane.id }}-header">
                         <h5>{{ ::pane.header }}</h5>
                       </v-pane-header>
                       <v-pane-content id="{{ ::pane.id }}-content" aria-labelledby="{{ ::pane.id }}-content">
                         <p>{{ ::pane.content }}</p>
                         <v-accordion id="nestedAccordionB" multiple ng-if="pane.subpanes">
                           <v-pane id="{{ ::subpane.id }}" ng-repeat="subpane in pane.subpanes" ng-disabled="subpane.isDisabled">
                             <v-pane-header id="{{ ::subpane.id }}-header" aria-controls="{{ ::subpane.id }}-header">
                               <h5>{{ ::subpane.header }}</h5>
                             </v-pane-header>
                             <v-pane-content id="{{ ::subpane.id }}-content" aria-labelledby="{{ ::subpane.id }}-content">
                               <p>{{ ::subpane.content }}</p>
                             </v-pane-content>
                           </v-pane>
                         </v-accordion>
                       </v-pane-content>
                     </v-pane>
                   </v-accordion>








               <div class="Grid-cell u-marginBl">
                   <h4 class="u-marginVm">School Projects</h4>
                   <v-accordion id="accordionC" class="vAccordion--default" multiple control="accordionC">
                     <v-pane id="{{ ::pane.id }}" ng-repeat="pane in panesC" expanded="pane.isExpanded">
                       <v-pane-header id="{{ ::pane.id }}-header" aria-controls="{{ ::pane.id }}-header">
                         <h5>{{ ::pane.header }}</h5>
                       </v-pane-header>
                       <v-pane-content id="{{ ::pane.id }}-content" aria-labelledby="{{ ::pane.id }}-content">
                         <p>{{ ::pane.content }}</p>
                         <v-accordion id="nestedAccordionC" multiple ng-if="pane.subpanes">
                           <v-pane id="{{ ::subpane.id }}" ng-repeat="subpane in pane.subpanes" ng-disabled="subpane.isDisabled">
                             <v-pane-header id="{{ ::subpane.id }}-header" aria-controls="{{ ::subpane.id }}-header">
                               <h5>{{ ::subpane.header }}</h5>
                             </v-pane-header>
                             <v-pane-content id="{{ ::subpane.id }}-content" aria-labelledby="{{ ::subpane.id }}-content">
                               <p>{{ ::subpane.content }}</p>
                             </v-pane-content>
                           </v-pane>
                         </v-accordion>
                       </v-pane-content>
                     </v-pane>
                   </v-accordion>














               </div>
              </label>
            </v-page>
          </v-pages>
        </section>
      </div>
  </body>
</html>
