<html lang="en" >
<head>
  <link rel='shortcut icon' type='image/x-icon' href='images/favicon.ico' />
  <title>Sean Wallace - Available For Hire!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
  <link rel="stylesheet" href="style/style.css">
</head>
<body ng-app = "resumeApp" ng-cloak >
  <md-content >
    <!-- HEADER START -->
    <div class="outer">
      <header class="inner">
        <div class="header mobileHeader" >
          <md-button class = "resume_banner resumeMobile" href="documents/resume.pdf" download="Sean-Wallace-Resume">Download My Resume</md-button>
          <md-button class="forkme_banner forkmeMobile" href="https://github.com/heatsink">Visit My GitHub Page</md-button>
          <img class = "portrait invisible" class = "invisible" height = "200px" width="200px" img src="images/portrait_walrus.png" alt="Test Image" align="right"/> 
          <h1 id = "title"> Sean Wallace </h1>
          <h2 id = "tagline"> Cal Poly, San Luis Obispo </h2>
          <h2 id = "tagline"> Computer Engineering </h2>
      </header>
      </div>
      <!-- HEADER END -->
    </div>
    <!-- MAIN BODYSTART -->
    <div class = "inner">
      <md-tabs md-dynamic-height md-border-bottom md-swipe-content>
        <md-tab label="Home">
          <md-content class="md-padding">
            <!-- <h1 class="md-display-2">Data Structures</h1> -->
            <h3>Home</h3>
            <p>Hi, I'll keep this short. I'm a college sophomore, and I write software for the Cal Poly Robotics Club.</p>
            <h3>
              <a id="elevator-pitch" class="anchor" href="#elevator-pitch" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Engineering Background
            </h3>
            <p>Java is my strongest programming language, followed closely by Python.</p>
            <p>In terms of hardware-description language, I am familiar with VHDL using Vivado.</p>
            <p>I'm a huge fan of ROS, VIM, and OSX. TDD is still growing on me.</p>
          </md-content>
        </md-tab>
        <md-tab label="Projects">
          <md-content class="md-padding">
            <!-- <h1 class="md-display-2">Tab Two</h1> -->
            <h3>Projects</h3>
            <p>These are some of the recent projects I've been involved in!</p>
            <!-- BUTTON ONE START -->
            <div ng-app="expand" ng-controller="personCtrl">
              <md-button class="md-raised md-secondary" ng-click="toggle()" >Autonomous Golf Cart</md-button>
              <div ng-show="myVar">
                <!-- HIDDEN CONTENT -->
                <md-toolbar class="md-accent  md-hue-1">
                  <div class="md-toolbar-tools">
                    <h3 class="md-flex"><b>Autonomous golf cart</b></h3>
                  </div>
                </md-toolbar>
                <p>Long term robotics project.</p>
                <p>Definition of success: When the golf cart can drive from the Cal Poly robotics room to the nearest Woodstock's Pizza. Autonomously. And come back with pizza. </p>
                <p>ROS ROS ROS ROS ROS ROS ROS ROS ROS ROS ROS ROS ROS ROS ROS ROS ROS ROS ROS ROS ROS ROS ROS ROS ROS ROS ROS ROS ROS ROS ROS ROS ROS ROS ROS ROS ROS ROS ROS ROS ROS ROS ROS ROS ROS ROS ROS ROS ROS ROS ROS ROS ROS ROS ROS ROS ROS ROS ROS ROS ROS ROS ROS ROS ROS ROS ROS ROS ROS ROS ROS ROS. ROS. Boom, I'm hired. ROS. Now I'm CEO.</p>
                <img id = "portrait" height = "auto" width="200px" img src="images/portrait.png" /> <br>
              </div>
            </div>
            <!-- BUTTON ONE END -->
            <!-- BUTTON TWO START -->
            <div ng-app="expand" ng-controller="personCtrl">
              <md-button class="md-raised md-secondary" ng-click="toggle()">Chess AI</md-button>
              <div ng-show="myVar">
                <!-- HIDDEN CONTENT -->
                <md-toolbar class="md-accent  md-hue-1">
                  <div class="md-toolbar-tools">
                    <h3 class="md-flex"><b>Chess AI</b></h3>
                  </div>
                </md-toolbar>
                Chess AI with Intermediate & Expert settings. <br>
                Branch Traversal & Board value algorithm. <br>
                <img id = "portrait" height = "auto" width="200px" img src="images/portrait.png" /> <br>
              </div>
            </div>
            <!-- BUTTON TWO END -->
            <!-- BUTTON THREE START -->
            <div ng-app="expand" ng-controller="personCtrl">
              <md-button class="md-raised md-secondary" ng-click="toggle()">Ninja Fighter</md-button>
              <div ng-show="myVar">
                <!-- HIDDEN CONTENT -->
                <md-toolbar class="md-accent  md-hue-1">
                  <div class="md-toolbar-tools">
                    <h3 class="md-flex"><b>Ninja Fighter</b></h3>
                  </div>
                </md-toolbar>
                A classic ninja game. Good vs. evil. <br>
                Ninjas man. <br>
                <img id = "portrait" height = "auto" width="200px" img src="images/portrait.png" /> <br>
              </div>
            </div>
            <!-- BUTTON THREE END -->
            <!-- BUTTON FOUR START -->
            <div ng-app="expand" ng-controller="personCtrl">
              <md-button class="md-raised md-secondary" ng-click="toggle()">Power Supply</md-button>
              <div ng-show="myVar">
                <!-- HIDDEN CONTENT -->
                <md-toolbar class="md-accent  md-hue-1">
                  <div class="md-toolbar-tools">
                    <h3 class="md-flex"><b>Power Supply</b></h3>
                  </div>
                </md-toolbar>
                Dual-variable power supply with digital meter. <br>
                Manufactured well enough to plug into your standard outlet. <br>
                Maximum 20 volts. <br>
                <img id = "portrait" height = "auto" width="200px" img src="images/portrait.png" /> <br>
              </div>
            </div>
            <!-- BUTTON FOUR END -->
            <!-- BUTTON FIVE START -->
            <div ng-app="expand" ng-controller="personCtrl">
              <md-button class="md-raised md-secondary" ng-click="toggle()">Speed Controller PCB</md-button>
              <div ng-show="myVar">
                <!-- HIDDEN CONTENT -->
                <md-toolbar class="md-accent md-hue-1">
                  <div class="md-toolbar-tools">
                    <h3 class="md-flex"><b>Speed Controller PCB</b></h3>
                  </div>
                </md-toolbar>
                Designed for the Cal Poly Robotics Team's Autonomous Golf Cart. <br>
                Speed controller for golf cart steering system. <br>
                Project for Fall 2016 (Not yet complete). <br>
                <img id = "portrait" height = "auto" width="200px" img src="images/portrait.png" /> <br>
              </div>
            </div>
            <!-- BUTTON FIVE END -->
          </md-content>
        </md-tab>
        <!-------------------------------- Next Set of Buttons ------------------------>
        <md-tab label="Programming ">
          <md-content class="md-padding">
            <h3>Programming</h3>
            <p>Below are demonstrations of programming ability fundamental to most of computing.</p>
            <!-- BUTTON ONE START -->
            <div ng-app="expand" ng-controller="personCtrl">
              <md-button class="md-raised md-secondary" ng-click="toggle()">Sorting Algorithms</md-button>
              <div ng-show="myVar">
                <!-- HIDDEN CONTENT -->
                <md-toolbar class="md-accent md-hue-1" >
                  <div class="md-toolbar-tools">
                    <h3 class="md-flex"><b>Sorting Algorithms</b></h3>
                  </div>
                </md-toolbar>
                <!-- INNER BUTTON ONE START -->
                <div ng-app="expand" ng-controller="personCtrl">
                  <md-button class="md-raised md-secondary innerButtonStyle" ng-click="toggle()">Insertion & Selection Sort</md-button>
                  <div ng-show="myVar">
                    <!-- INNER HIDDEN CONTENT -->
                    <md-toolbar class="md-accent">
                      <div class="md-toolbar-tools">
                        <h3 class="md-flex"><b>Insertion & Selection Sort</b></h3>
                      </div>
                    </md-toolbar>
                    <p>A simple class showcasing both insertion & selection sort.</p>
                    <script src="https://gist.github.com/heatsink/00719c6f5bc7262e5d8e8c30f62ff1f0.js"></script>
                    <!-- INNER HIDDEN CONTENT END -->
                  </div>
                </div>
                <!-- INNER BUTTON ONE END -->
                <!-- INNER BUTTON TWO START -->
                <div ng-app="expand" ng-controller="personCtrl">
                  <md-button class="md-raised md-secondary innerButtonStyle" ng-click="toggle()">HeapSort</md-button>
                  <div ng-show="myVar">
                    <!-- INNER HIDDEN CONTENT -->
                    <md-toolbar class="md-accent">
                      <div class="md-toolbar-tools">
                        <h3 class="md-flex"><b>HeapSort</b></h3>
                      </div>
                    </md-toolbar>
                    A simple class showcasing HeapSort. <br>
                    <p>SUPER COOL GITHUB GIST GOES RIGHT HERE</p>
                    <!-- INNER HIDDEN CONTENT END -->
                  </div>
                </div>
                <!-- INNER BUTTON TWO END -->
                <!-- INNER BUTTON THREE START -->
                <div ng-app="expand" ng-controller="personCtrl">
                  <md-button class="md-raised md-secondary innerButtonStyle" ng-click="toggle()">MergeSort</md-button>
                  <div ng-show="myVar">
                    <!-- INNER HIDDEN CONTENT -->
                    <md-toolbar class="md-accent">
                      <div class="md-toolbar-tools">
                        <h3 class="md-flex"><b>MergeSort</b></h3>
                      </div>
                    </md-toolbar>
                    A simple class showcasing MergeSort. <br>
                    <p>SUPER COOL GITHUB GIST GOES RIGHT HERE</p>
                    <!-- INNER HIDDEN CONTENT END -->
                  </div>
                </div>
                <!-- INNER BUTTON THREE END -->
                <!-- INNER BUTTON FOUR START -->
                <div ng-app="expand" ng-controller="personCtrl">
                  <md-button class="md-raised md-secondary innerButtonStyle" ng-click="toggle()">QuickSort</md-button>
                  <div ng-show="myVar">
                    <!-- INNER HIDDEN CONTENT -->
                    <md-toolbar class="md-accent">
                      <div class="md-toolbar-tools">
                        <h3 class="md-flex"><b>QuickSort</b></h3>
                      </div>
                    </md-toolbar>
                    A simple class showcasing QuickSort. <br>
                    <p>SUPER COOL GITHUB GIST GOES RIGHT HERE</p>
                    <!-- INNER HIDDEN CONTENT END -->
                  </div>
                </div>
                <!-- INNER BUTTON FOUR END -->
                <!-- HIDDEN CONTENT END -->
              </div>
            </div>
            <!-- BUTTON ONE END -->
            <!-------------------------------- Next Set of Buttons ------------------------>
            <!-- BUTTON ONE START -->
            <div ng-app="expand" ng-controller="personCtrl">
              <md-button class="md-raised md-secondary" ng-click="toggle()">Data Structures</md-button>
              <div ng-show="myVar">
                <!-- HIDDEN CONTENT -->
                <md-toolbar class="md-accent md-hue-1">
                  <div class="md-toolbar-tools">
                    <h3 class="md-flex"><b>Data Structures</b></h3>
                  </div>
                </md-toolbar>
                <!-- INNER BUTTON ONE START -->
                <div ng-app="expand" ng-controller="personCtrl">
                  <md-button class="md-raised md-secondary innerButtonStyle" ng-click="toggle()">Stack</md-button>
                  <div ng-show="myVar">
                    <!-- INNER HIDDEN CONTENT -->
                    <md-toolbar class="md-accent">
                      <div class="md-toolbar-tools">
                        <h3 class="md-flex"><b>Stack</b></h3>
                      </div>
                    </md-toolbar>
                    <p>A simple class showcasing a stack.</p>
                    <script src="https://gist.github.com/heatsink/6a69800adc0dad2dc1a2a5b9721faeec.js"></script>
                    <!-- INNER HIDDEN CONTENT END -->
                  </div>
                </div>
                <!-- INNER BUTTON ONE END -->
                <!-- INNER BUTTON TWO START -->
                <div ng-app="expand" ng-controller="personCtrl">
                  <md-button class="md-raised md-secondary innerButtonStyle" ng-click="toggle()">Queue</md-button>
                  <div ng-show="myVar">
                    <!-- INNER HIDDEN CONTENT -->
                    <md-toolbar class="md-accent">
                      <div class="md-toolbar-tools">
                        <h3 class="md-flex"><b>Queue</b></h3>
                      </div>
                    </md-toolbar>
                    A simple class showcasing a queue. <br>
                    <script src="https://gist.github.com/heatsink/7fe61cd0c0a20a76be706033a38ac085.js"></script>
                    <!-- INNER HIDDEN CONTENT END -->
                  </div>
                </div>
                <!-- INNER BUTTON TWO END -->
                <!-- INNER BUTTON THREE START -->
                <div ng-app="expand" ng-controller="personCtrl">
                  <md-button class="md-raised md-secondary innerButtonStyle" ng-click="toggle()">Circular Queue</md-button>
                  <div ng-show="myVar">
                    <!-- INNER HIDDEN CONTENT -->
                    <md-toolbar class="md-accent">
                      <div class="md-toolbar-tools">
                        <h3 class="md-flex"><b>Circular Queue</b></h3>
                      </div>
                    </md-toolbar>
                    A simple class showcasing a circular queue using an array as the underlying data structure. <br>
                    <script src="https://gist.github.com/heatsink/da9f825724f45e45b50a15647fcb0f2b.js"></script>
                    <!-- INNER HIDDEN CONTENT END -->
                  </div>
                </div>
                <!-- INNER BUTTON THREE END -->
                <!-- INNER BUTTON FOUR START -->
                <div ng-app="expand" ng-controller="personCtrl">
                  <md-button class="md-raised md-secondary innerButtonStyle" ng-click="toggle()">Heap</md-button>
                  <div ng-show="myVar">
                    <!-- INNER HIDDEN CONTENT -->
                    <md-toolbar class="md-accent">
                      <div class="md-toolbar-tools">
                        <h3 class="md-flex"><b>Heap</b></h3>
                      </div>
                    </md-toolbar>
                    A simple class showcasing a heap. <br>
                    <p>SUPER COOL GITHUB GIST GOES RIGHT HERE</p>
                    <!-- INNER HIDDEN CONTENT END -->
                  </div>
                </div>
                <!-- INNER BUTTON FOUR END -->
                <!-- INNER BUTTON FIVE START -->
                <div ng-app="expand" ng-controller="personCtrl">
                  <md-button class="md-raised md-secondary innerButtonStyle" ng-click="toggle()">Hashing</md-button>
                  <div ng-show="myVar">
                    <!-- INNER HIDDEN CONTENT -->
                    <md-toolbar class="md-accent">
                      <div class="md-toolbar-tools">
                        <h3 class="md-flex"><b>Hashing</b></h3>
                      </div>
                    </md-toolbar>
                    A simple class showcasing hashing. <br>
                    <p>SUPER COOL GITHUB GIST GOES RIGHT HERE</p>
                    <!-- INNER HIDDEN CONTENT END -->
                  </div>
                </div>
                <!-- INNER BUTTON FIVE END -->
                <!-- HIDDEN CONTENT END -->
              </div>
            </div>
            <!-- BUTTON ONE END -->
            <!-------------------------------- Next Set of Buttons ------------------------>
            <!-- BUTTON ONE START -->
            <div ng-app="expand" ng-controller="personCtrl">
              <md-button class="md-raised md-secondary" ng-click="toggle()">Graphs</md-button>
              <div ng-show="myVar">
                <!-- HIDDEN CONTENT -->
                <md-toolbar class="md-accent md-hue-1">
                  <div class="md-toolbar-tools">
                    <h3 class="md-flex"><b>Graphs</b></h3>
                  </div>
                </md-toolbar>
                <!-- INNER BUTTON ONE START -->
                <div ng-app="expand" ng-controller="personCtrl">
                  <md-button class="md-raised md-secondary innerButtonStyle" ng-click="toggle()">Adjacency Representation</md-button>
                  <div ng-show="myVar">
                    <!-- INNER HIDDEN CONTENT -->
                    <md-toolbar class="md-accent">
                      <div class="md-toolbar-tools">
                        <h3 class="md-flex"><b>Adjacency Representation</b></h3>
                      </div>
                    </md-toolbar>
                    <p>A simple class showcasing a graph with adjacency representation.</p>
                    <p>SUPER GOOD GITHUB GIST GOES RIGHT HERE </p>
                    <!-- INNER HIDDEN CONTENT END -->
                  </div>
                </div>
                <!-- INNER BUTTON ONE END -->
                <!-- INNER BUTTON TWO START -->
                <div ng-app="expand" ng-controller="personCtrl">
                  <md-button class="md-raised md-secondary innerButtonStyle" ng-click="toggle()">Matrix Representation</md-button>
                  <div ng-show="myVar">
                    <!-- INNER HIDDEN CONTENT -->
                    <md-toolbar class="md-accent">
                      <div class="md-toolbar-tools">
                        <h3 class="md-flex"><b>Matrix Representation</b></h3>
                      </div>
                    </md-toolbar>
                    A simple class showcasing a graph with matrix representation. <br>
                    <p>SUPER COOL GITHUB GIST GOES RIGHT HERE</p>
                    <!-- INNER HIDDEN CONTENT END -->
                  </div>
                </div>
                <!-- INNER BUTTON TWO END -->
                <!-- INNER BUTTON THREE START -->
                <div ng-app="expand" ng-controller="personCtrl">
                  <md-button class="md-raised md-secondary innerButtonStyle" ng-click="toggle()">Topological Sort</md-button>
                  <div ng-show="myVar">
                    <!-- INNER HIDDEN CONTENT -->
                    <md-toolbar class="md-accent">
                      <div class="md-toolbar-tools">
                        <h3 class="md-flex"><b>Topological Sort</b></h3>
                      </div>
                    </md-toolbar>
                    A simple class showcasing the use of topological sort to order a directed graph. <br>
                    <p>SUPER COOL GITHUB GIST GOES RIGHT HERE</p>
                    <!-- INNER HIDDEN CONTENT END -->
                  </div>
                </div>
                <!-- INNER BUTTON THREE END -->
                <!-- INNER BUTTON FOUR START -->
                <div ng-app="expand" ng-controller="personCtrl">
                  <md-button class="md-raised md-secondary innerButtonStyle" ng-click="toggle()">Breadth First Search</md-button>
                  <div ng-show="myVar">
                    <!-- INNER HIDDEN CONTENT -->
                    <md-toolbar class="md-accent">
                      <div class="md-toolbar-tools">
                        <h3 class="md-flex"><b>Breadth First Search</b></h3>
                      </div>
                    </md-toolbar>
                    A simple class showcasing breadth first search to traverse a graph. <br>
                    <p>SUPER COOL GITHUB GIST GOES RIGHT HERE</p>
                    <!-- INNER HIDDEN CONTENT END -->
                  </div>
                </div>
                <!-- INNER BUTTON FOUR END -->
                <!-- INNER BUTTON FIVE START -->
                <div ng-app="expand" ng-controller="personCtrl">
                  <md-button class="md-raised md-secondary innerButtonStyle" ng-click="toggle()">Depth First Search</md-button>
                  <div ng-show="myVar">
                    <!-- INNER HIDDEN CONTENT -->
                    <md-toolbar class="md-accent">
                      <div class="md-toolbar-tools">
                        <h3 class="md-flex"><b>Depth First Search</b></h3>
                      </div>
                    </md-toolbar>
                    A simple class showcasing breadth first search to traverse a graph. <br>
                    <p>SUPER COOL GITHUB GIST GOES RIGHT HERE</p>
                    <!-- INNER HIDDEN CONTENT END -->
                  </div>
                </div>
                <!-- INNER BUTTON FIVE END -->
                <!-- INNER BUTTON SIX START -->
                <div ng-app="expand" ng-controller="personCtrl">
                  <md-button class="md-raised md-secondary innerButtonStyle" ng-click="toggle()">Dijkstra's Algorithm</md-button>
                  <div ng-show="myVar">
                    <!-- INNER HIDDEN CONTENT -->
                    <md-toolbar class="md-accent">
                      <div class="md-toolbar-tools">
                        <h3 class="md-flex"><b>Dijkstra's Algorithm</b></h3>
                      </div>
                    </md-toolbar>
                    A simple class showcasing Dijkstra's Algorithm applied to a graph. <br>
                    <p>SUPER COOL GITHUB GIST GOES RIGHT HERE</p>
                    <!-- INNER HIDDEN CONTENT END -->
                  </div>
                </div>
                <!-- INNER BUTTON SIX END -->
                <!-- HIDDEN CONTENT END -->
              </div>
            </div>
            <!-- BUTTON ONE END -->
          </md-content>
        </md-tab>
        <md-tab label="Hardware">
          <md-content class="md-padding">
            <h3>Hardware</h3>
            <p>Here's some of what I know about hardware!</p>
            <!--------- HARDWARE SECTION OF BUTTONS BEGINS ----------------------->
            <!-- BUTTON ONE START -->
            <div ng-app="expand" ng-controller="personCtrl">
              <md-button class="md-raised md-secondary" ng-click="toggle()">Combinatorial Circuits</md-button>
              <div ng-show="myVar">
                <!-- HIDDEN CONTENT -->
                <md-toolbar class="md-accent md-hue-1" >
                  <div class="md-toolbar-tools">
                    <h3 class="md-flex"><b>Combinatorial Circuits</b></h3>
                  </div>
                </md-toolbar>
                <!-- INNER BUTTON ONE START -->
                <div ng-app="expand" ng-controller="personCtrl">
                  <md-button class="md-raised md-secondary innerButtonStyle" ng-click="toggle()">MUX</md-button>
                  <div ng-show="myVar">
                    <!-- INNER HIDDEN CONTENT -->
                    <md-toolbar class="md-accent">
                      <div class="md-toolbar-tools">
                        <h3 class="md-flex"><b>MUX</b></h3>
                      </div>
                    </md-toolbar>
                    <p>It's a standard MUX.</p>
                    <p>VHDL Gist here!</p>
                    <!-- INNER HIDDEN CONTENT END -->
                  </div>
                </div>
                <!-- INNER BUTTON ONE END -->
                <!-- INNER BUTTON TWO START -->
                <div ng-app="expand" ng-controller="personCtrl">
                  <md-button class="md-raised md-secondary innerButtonStyle" ng-click="toggle()">Decoder</md-button>
                  <div ng-show="myVar">
                    <!-- INNER HIDDEN CONTENT -->
                    <md-toolbar class="md-accent">
                      <div class="md-toolbar-tools">
                        <h3 class="md-flex"><b>Decoder</b></h3>
                      </div>
                    </md-toolbar>
                    It's a decoder.<br>
                    <p>SUPER COOL GITHUB GIST GOES RIGHT HERE</p>
                    <!-- INNER HIDDEN CONTENT END -->
                  </div>
                </div>
                <!-- INNER BUTTON TWO END -->
                <!-- INNER BUTTON THREE START -->
                <div ng-app="expand" ng-controller="personCtrl">
                  <md-button class="md-raised md-secondary innerButtonStyle" ng-click="toggle()">Half Adder</md-button>
                  <div ng-show="myVar">
                    <!-- INNER HIDDEN CONTENT -->
                    <md-toolbar class="md-accent">
                      <div class="md-toolbar-tools">
                        <h3 class="md-flex"><b>Half Adder</b></h3>
                      </div>
                    </md-toolbar>
                    It's a half-adder. <br>
                    <p>SUPER COOL GITHUB GIST GOES RIGHT HERE</p>
                    <!-- INNER HIDDEN CONTENT END -->
                  </div>
                </div>
                <!-- INNER BUTTON THREE END -->
                <!-- INNER BUTTON FOUR START -->
                <div ng-app="expand" ng-controller="personCtrl">
                  <md-button class="md-raised md-secondary innerButtonStyle" ng-click="toggle()">Full Adder</md-button>
                  <div ng-show="myVar">
                    <!-- INNER HIDDEN CONTENT -->
                    <md-toolbar class="md-accent">
                      <div class="md-toolbar-tools">
                        <h3 class="md-flex"><b>Full Adder</b></h3>
                      </div>
                    </md-toolbar>
                    It's a full adder. <br>
                    <p>SUPER COOL GITHUB GIST GOES RIGHT HERE</p>
                    <!-- INNER HIDDEN CONTENT END -->
                  </div>
                </div>
                <!-- INNER BUTTON FOUR END -->
                <!-- HIDDEN CONTENT END -->
                <!-- INNER BUTTON FIVE START -->
                <div ng-app="expand" ng-controller="personCtrl">
                  <md-button class="md-raised md-secondary innerButtonStyle" ng-click="toggle()">Ripple Carry Adder</md-button>
                  <div ng-show="myVar">
                    <!-- INNER HIDDEN CONTENT -->
                    <md-toolbar class="md-accent">
                      <div class="md-toolbar-tools">
                        <h3 class="md-flex"><b>Ripple Carry Adder</b></h3>
                      </div>
                    </md-toolbar>
                    It's a ripple carry adder. <br>
                    <p>SUPER COOL GITHUB GIST GOES RIGHT HERE</p>
                    <!-- INNER HIDDEN CONTENT END -->
                  </div>
                </div>
                <!-- INNER BUTTON FIVE END -->
                <!-- HIDDEN CONTENT END -->
                <!-- INNER BUTTON SIX START -->
                <div ng-app="expand" ng-controller="personCtrl">
                  <md-button class="md-raised md-secondary innerButtonStyle" ng-click="toggle()">Comparatorr</md-button>
                  <div ng-show="myVar">
                    <!-- INNER HIDDEN CONTENT -->
                    <md-toolbar class="md-accent">
                      <div class="md-toolbar-tools">
                        <h3 class="md-flex"><b>Comparator</b></h3>
                      </div>
                    </md-toolbar>
                    It's a Full Adder. <br>
                    <p>SUPER COOL GITHUB GIST GOES RIGHT HERE</p>
                    <!-- INNER HIDDEN CONTENT END -->
                  </div>
                </div>
                <!-- INNER BUTTON SIX END -->
                <!-- HIDDEN CONTENT END -->
                <!-- INNER BUTTON SEVEN START -->
                <div ng-app="expand" ng-controller="personCtrl">
                  <md-button class="md-raised md-secondary innerButtonStyle" ng-click="toggle()">Parity Generator</md-button>
                  <div ng-show="myVar">
                    <!-- INNER HIDDEN CONTENT -->
                    <md-toolbar class="md-accent">
                      <div class="md-toolbar-tools">
                        <h3 class="md-flex"><b>Parity Generator</b></h3>
                      </div>
                    </md-toolbar>
                    It's a parity generator. <br>
                    <p>SUPER COOL GITHUB GIST GOES RIGHT HERE</p>
                    <!-- INNER HIDDEN CONTENT END -->
                  </div>
                </div>
                <!-- INNER BUTTON SEVEN END -->
                <!-- HIDDEN CONTENT END -->
              </div>
            </div>
            <!-- BUTTON ONE END -->
            <!-------------------------------- Next Set of Buttons ------------------------>
            <!-- BUTTON ONE START -->
            <div ng-app="expand" ng-controller="personCtrl">
              <md-button class="md-raised md-secondary" ng-click="toggle()">Sequential Circuits</md-button>
              <div ng-show="myVar">
                <!-- HIDDEN CONTENT -->
                <md-toolbar class="md-accent md-hue-1">
                  <div class="md-toolbar-tools">
                    <h3 class="md-flex"><b>Sequential Circuits</b></h3>
                  </div>
                </md-toolbar>
                <!-- INNER BUTTON ONE START -->
                <div ng-app="expand" ng-controller="personCtrl">
                  <md-button class="md-raised md-secondary innerButtonStyle" ng-click="toggle()">Flip Flops</md-button>
                  <div ng-show="myVar">
                    <!-- INNER HIDDEN CONTENT -->
                    <md-toolbar class="md-accent">
                      <div class="md-toolbar-tools">
                        <h3 class="md-flex"><b>Flip Flops</b></h3>
                      </div>
                    </md-toolbar>
                    <p>It's a flip flop.</p>
                    <p>Gist goes here</p>
                    <!-- INNER HIDDEN CONTENT END -->
                  </div>
                </div>
                <!-- INNER BUTTON ONE END -->
                <!-- INNER BUTTON TWO START -->
                <div ng-app="expand" ng-controller="personCtrl">
                  <md-button class="md-raised md-secondary innerButtonStyle" ng-click="toggle()">Register</md-button>
                  <div ng-show="myVar">
                    <!-- INNER HIDDEN CONTENT -->
                    <md-toolbar class="md-accent">
                      <div class="md-toolbar-tools">
                        <h3 class="md-flex"><b>Register</b></h3>
                      </div>
                    </md-toolbar>
                    <p>It's a register. </p>
                    <p>Gist goes here</p>
                    <!-- INNER HIDDEN CONTENT END -->
                  </div>
                </div>
                <!-- INNER BUTTON TWO END -->
                <!-- INNER BUTTON THREE START -->
                <div ng-app="expand" ng-controller="personCtrl">
                  <md-button class="md-raised md-secondary innerButtonStyle" ng-click="toggle()">Shift Register</md-button>
                  <div ng-show="myVar">
                    <!-- INNER HIDDEN CONTENT -->
                    <md-toolbar class="md-accent">
                      <div class="md-toolbar-tools">
                        <h3 class="md-flex"><b>Shift Register</b></h3>
                      </div>
                    </md-toolbar>
                    <p>It's a shift register.</p>
                    <p>Gist goes here</p>
                    <!-- INNER HIDDEN CONTENT END -->
                  </div>
                </div>
                <!-- INNER BUTTON THREE END -->
                <!-- INNER BUTTON FOUR START -->
                <div ng-app="expand" ng-controller="personCtrl">
                  <md-button class="md-raised md-secondary innerButtonStyle" ng-click="toggle()">Counter</md-button>
                  <div ng-show="myVar">
                    <!-- INNER HIDDEN CONTENT -->
                    <md-toolbar class="md-accent">
                      <div class="md-toolbar-tools">
                        <h3 class="md-flex"><b>Counter</b></h3>
                      </div>
                    </md-toolbar>
                    It's a counter. <br>
                    <p>SUPER COOL GITHUB GIST GOES RIGHT HERE</p>
                    <!-- INNER HIDDEN CONTENT END -->
                  </div>
                </div>
                <!-- INNER BUTTON FOUR END -->
              </div>
            </div>
            <!-- BUTTON ONE END -->
            <!-------------------------------- Next Set of Buttons ------------------------>
            <!-- BUTTON ONE START -->
            <div ng-app="expand" ng-controller="personCtrl">
              <md-button class="md-raised md-secondary" ng-click="toggle()">Controllers</md-button>
              <div ng-show="myVar">
                <!-- HIDDEN CONTENT -->
                <md-toolbar class="md-accent md-hue-1">
                  <div class="md-toolbar-tools">
                    <h3 class="md-flex"><b>Controllers</b></h3>
                  </div>
                </md-toolbar>
                <!-- INNER BUTTON ONE START -->
                <div ng-app="expand" ng-controller="personCtrl">
                  <md-button class="md-raised md-secondary innerButtonStyle" ng-click="toggle()">Multiplier By FSM</md-button>
                  <div ng-show="myVar">
                    <!-- INNER HIDDEN CONTENT -->
                    <md-toolbar class="md-accent">
                      <div class="md-toolbar-tools">
                        <h3 class="md-flex"><b>Multiplier By FSM</b></h3>
                      </div>
                    </md-toolbar>
                    <p>A multiplier made using an FSM. </p>
                    <p>SUPER GOOD GITHUB GIST GOES RIGHT HERE </p>
                    <!-- INNER HIDDEN CONTENT END -->
                  </div>
                </div>
                <!-- INNER BUTTON ONE END -->
                <!-- INNER BUTTON TWO START -->
                <div ng-app="expand" ng-controller="personCtrl">
                  <md-button class="md-raised md-secondary innerButtonStyle" ng-click="toggle()">Divider By FSM</md-button>
                  <div ng-show="myVar">
                    <!-- INNER HIDDEN CONTENT -->
                    <md-toolbar class="md-accent">
                      <div class="md-toolbar-tools">
                        <h3 class="md-flex"><b>Divider By FSM</b></h3>
                      </div>
                    </md-toolbar>
                    A divider made using an FSM. <br>
                    <p>SUPER COOL GITHUB GIST GOES RIGHT HERE</p>
                    <!-- INNER HIDDEN CONTENT END -->
                  </div>
                </div>
                <!-- INNER BUTTON TWO END -->
                <!-- HIDDEN CONTENT END -->
              </div>
            </div>
            <!-- BUTTON ONE END -->
            <p>TODO:</p>
            <h3>
              <p>Microcontrollers</p>
            </h3>
            Next quarter! :D <br />
          </md-content>
        </md-tab>
      </md-tabs>
    </div>
  </md-content>
  <!-- FOOTER  -->
  <!--
    <div id="footer" class="outer">
       <footer class="inner">
          <h6> Powered by GitHub. Thanks for the free hosting!</h6>
       </footer>
    </div>
    -->
  <!-- Angular.js Libraries -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>
  <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>
  <!-- Application Bootstrap  -->
  <script src="javascripts/app.js"></script>
</body>
</html>
