<html lang="en" >
<head>
  <link rel='shortcut icon' type='image/x-icon' href='images/favicon.ico' />
  <title>Sean Wallace - Available For Hire!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
  <link rel="stylesheet" href="style/style.css">
</head>
<body ng-app = "resumeApp" ng-cloak >
  <md-content >
    <!-- HEADER START -->
    <div class="outer">
      <header class="inner">
        <div class="header mobileHeader" >
          <md-button class = "resume_banner resumeMobile" href="documents/resume.pdf" download="Sean-Wallace-Resume">Download My Resume</md-button>
          <!--
          <md-button class="forkme_banner invisible" href="https://github.com/heatsink">Visit My GitHub Page</md-button>
          <img class = "portrait invisible" class = "invisible" height = "200px" width="200px" img src="images/portrait_walrus.png" alt="Test Image" align="right"/> 
          -->
          <h1 id = "title"> Sean Wallace </h1>
          <h2 id = "tagline"> Cal Poly, San Luis Obispo </h2>
          <h2 id = "tagline"> Computer Engineering </h2>
      </header>
      </div>
      <!-- HEADER END -->
    </div>
    <!-- MAIN BODYSTART -->
    <div class = "inner">
      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Home">
          <md-content class="md-padding">
            <!-- <h1 class="md-display-2">Data Structures</h1> -->
            <h3>Home</h3>
            <p>I'm a college sophomore, and I write software for the Cal Poly Robotics Club.</p>
            <h3>
              <a id="elevator-pitch" class="anchor" href="#elevator-pitch" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Engineering Background
            </h3>
            <p>Java is my strongest programming language, followed closely by Python.</p>
            <p>In terms of hardware-description language, I am familiar with VHDL using Vivado.</p>
            <p>I'm a huge fan of ROS, VIM, and Git. TDD is still growing on me.</p>
          </md-content>
        </md-tab>
        <md-tab label="Projects">
          <md-content class="md-padding">
            <!-- <h1 class="md-display-2">Tab Two</h1> -->
            <h3>Projects</h3>
            <!--
            <p>These are some of the recent projects I've worked on.</p>
            -->
            <!-- BUTTON ONE START -->
            <div ng-app="expand" ng-controller="personCtrl">
              <md-button class="md-raised md-secondary" ng-click="toggle()"><b>Autonomous Golf Cart&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;></b></md-button>
              <div ng-show="myVar">
                <!-- HIDDEN CONTENT -->
                <!--
                <md-toolbar class="md-accent  md-hue-1">
                  <div class="md-toolbar-tools">
                    <h3 class="md-flex"><b>Autonomous Golf Cart</b></h3>
                  </div>
                </md-toolbar>
                -->
                <h3>Autonomous Golf Cart</h3>
                <p><b>TL;DR:</b> collision detection & navigation, ROS, home-made PCB. Python, lidar, and other inferior sensors (just kidding, they're all essential).</p>

                <div layout="row" layout-xs="column">
                  <div flex-gt-sm="40">
                    <img class = "projectImage" height = "auto" width="300px" img src="images/IGVC_driving.png"/>
                    <figcaption > <small><i>Testing an old iteration of my collision detection software. Will update image during Fall 2016.</i></small>
                    </figcaption>
                  </div>
                  <div flex-gt-sm="60">
                    <p>The autonomous golf cart is one of three flagship projects that the Cal Poly Robotics team is currently dedicated to. I'm part of what we affectionally call the IGVC team, even though we don't (yet) compete in the Intelligent Ground Vehicle Competition. But we do challenge and compete against ourselves to do some quality engineering! Or something like that...</p>
                  </div>
                </div>

                <p>Our team is interdisciplinary, comprising of electrical, mechanical, and computer engineers. We also have a geologist who happens to know a lot about engineering. This allows us to claim diversity.</p>

                <div layout="row" layout-xs="column">
                  <div flex-gt-sm="40">
                    <img class = "projectImage" height = "auto" width="300px" img src="images/IGVC_collision.png"/>
                    <figcaption><small><i>An old iteration of my collision detection software. Will update image during Fall 2016.</i></small>
                    </figcaption>
                  </div>
                  <div flex-gt-sm="60">
                <p>Within the IGVC team, I specialize in collision detection & navigation. We use a SICK 2D Lidar, which has the the dual purpose of detecting solid objects in a 270 degree field of view as well as be the basis for many sick puns. Currently, our team is experimenting with ROS's navigation stack for proof of concept as well as inspiration for our own in-house navigation stack. The design and programming of this milestone will take place during Fall 2016.</p>
                  </div>
                </div>
                <p>This is a large-scale long term project so it is entirely possible that it will continue until graduation. Therefore, it is important to have a solid definition for project success. Otherwise, we'll never end up pursing another project! The IGVC team will declare the project successful when the golf cart can drive to and from the nearest Woodstock's Pizza and return with a delicious payload. Autonomously. Worry not, the pizza will be in good hands.</p>

                <div layout="row" layout-xs="column">
                  <div flex-gt-sm="40">
                    <img class = "projectImage" height = "auto" width="300px" img src="images/IGVC_PCB.png"/>
                    <figcaption ><small><i>The golf cart's PCB, designed in-house.</i></small>
                    </figcaption>
                  </div>
                  <div flex-gt-sm="60">

                <p>Even though I focus on software within the Robotics team, I still interact with hardware on a regular basis. This PCB was designed by my current team members before I joined the club, and I will design a module to add onto the board for a speedcontroller during Spring 2016.</p>
                  </div>
                </div>
                <!--
                <div flex="95">
                <p>New paragraph material goes here. New paragraph material goes here. New paragraph material goes here. New paragraph material goes here. New paragraph material goes here. New paragraph material goes here. New paragraph material goes here. New paragraph material goes here. </p>
                </div>
                <div flex="40">
                  <img width="300px"img src="images/PSU_case.png"/>
                </div>
                <div flex="40">
                  <img width="300px"img src="images/PSU_case.png"/>
                </div>
                -->

                <!--



                <figure>
                <img class = "leftImage" height = "auto" width="300px" img src="images/IGVC_PCB.png" ALIGN="left"/> <br>
                <figcaption ALIGN="left" >Figure 1. This is a test of an image caption.
                </figcaption>
                </figure>

                <p>Even though I specialize in software for the Robotics team, I still interact with hardware on a regular basis. Here's the board made by my fellow IGVC team members! I will on designing a module on the board for a speedcontroller during Spring 2016 since relays are being used to control our steering motor... </p>
                <p>Also, this picture was intentionally taken during the night to make it look awesome. Totally not because we sometimes work in the robotics room well into the A.M...</p>
                <img class = "leftImage" height = "auto" width="300px" img src="images/IGVC_collision.png" ALIGN="left"/> <br>
                <img class = "rightImage" height = "auto" width="300px" img src="images/IGVC_driving.png" ALIGN="right"/> <br>
                <p> more cool text goes here</p>
                -->
                <hr size=2>
              </div>
            </div>
            <!-- BUTTON ONE END -->
            <!-- BUTTON TWO START -->
            <div ng-app="expand" ng-controller="personCtrl">
              <md-button class="md-raised md-secondary" ng-click="toggle()"><b>Chess AI&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;></b></md-button>
              <div ng-show="myVar">
                <!-- HIDDEN CONTENT -->
                <!--
                <md-toolbar class="md-accent  md-hue-1">
                  <div class="md-toolbar-tools">
                    <h3 class="md-flex"><b>Chess AI</b></h3>
                  </div>
                </md-toolbar>
                -->
                <h3>Chess AI</h3>
                Chess AI with Intermediate & Expert settings. <br>
                Branch Traversal & Board value algorithm. <br>
                <img id = "portrait" height = "auto" width="200px" img src="images/portrait.png" /> <br>
              </div>
            </div>
            <!-- BUTTON TWO END -->
            <!-- BUTTON THREE START -->
            <div ng-app="expand" ng-controller="personCtrl">
              <md-button class="md-raised md-secondary" ng-click="toggle()"><b>Ninja Fighter&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;></b></md-button>
              <div ng-show="myVar">
                <!-- HIDDEN CONTENT -->
                <!--
                <md-toolbar class="md-accent  md-hue-1">
                  <div class="md-toolbar-tools">
                    <h3 class="md-flex"><b>Ninja Fighter</b></h3>
                  </div>
                </md-toolbar>
                -->
                <h3>Ninja Fighter</h3>
                <p><b>TL;DR:</b> Java. Object Oriented Programming. Game design. GitHub.</p>
                <img height = "auto" width="300px" img src="images/Ninja_Fighter_Main.png" /> <br>
                <figcaption > <i>A player attempts to survive the "Endless" mode.</i>
                    </figcaption>

                <p>Ninja Fighter is a top-down action RPG written in Java using Greenfoot. It was a collaborative effort, made with four other members during a course in game design. Ninja Fighter also happens to share the same name with many other ninja games, but this was unintentional. We signed some forms supposedly granting immunity from copyright claims under the presumption that we wouldn't try to make money from the project. These university powers were pretty great, as it allowed us to focus our time on programming game mechanics.</p>
                <p>Coincidentally, our animations, sound effects, and background music are on point. Thanks to the work of many fine artists working at Blizzard, Nexon, and many other game companies. Don't worry, we gave credit through comments in our source code. And again, strictly educational purposes. No profit. In the end, Ninja Fighter ended up looking like a pretty cool ninja game with classic gameplay mechanics with a cheesy storyline. As is tradition.</p>
                <img height = "auto" width="300px" img src="images/Ninja_Fighter_cinematic_1.png" /> <br>
                <figcaption > <i>The master's so strong, even his shurikens have shurikens.</i>
                    </figcaption>
                <p>The storyline of Ninja Fighter is conveyed (badly) through cinematics. In the beginning, a lone boy picking berries when "The Darkness" suddenly envelops his village. A mysterious master rescues  the boy, who takes him to his cave to train him to become a ninja. The player experiences this training, and becomes a ninja that fights to save his village from the darkness. (This was the best storyline that the combined effort of five Cal Poly computer and software engineers could come up with. I hope this doesn't diminish the reputation of the university).</p>

                <img height = "auto" width="300px" img src="images/Ninja_Fighter_cinematic_2.png" /> <br>
                <figcaption > <i>The blood animations looped until the dragons died (so many shurikens). Working as intended.</i>
                    </figcaption>

                <img height = "auto" width="300px" img src="images/Ninja_Fighter_training_1.png" /> <br>
                <figcaption > <i>The player takes control of the boy. Ninja training begins.</i>
                    </figcaption>
                <p>The player follows the master through a corridor, but the master is nowhere to be seen. In fact, the master is never seen again. </p>

                <img height = "auto" width="300px" img src="images/Ninja_Fighter_training_2.png" /> <br>
                <figcaption > <i>A player walks on a sword to gain the knowledge to use it.</i>
                    </figcaption>
                <p>As much fun I poke at this past project I've worked on, I think Ninja Fighter actually does a pretty good job of introducing players to gameplay mechanics. We didn't have to implement those lazy chatboxes that tell players to "Press W to move! :D" (this is far too common these days). During the training levels, the boy learns how to use a sword by walking on a sword rack (very realistic). The same mechanic is in place where he walks on a table covered with shurikens to learn how to throw them. Hopefully, players learn that walking on objects do good things. Later, as ninjas, players walk over barrels to replenish their shurikens, apples to regenerate health, and eggs to replenish their power. All good things.</p>

                <img height = "auto" width="300px" img src="images/Ninja_Fighter_abilities.png" /> <br>
                <figcaption > <i>The various (World of Warcraft) ability icons. Featuring an old font from Diablo.</i>
                    </figcaption>
                <p>The game is split into 3 acts with different themes (possibly inspired by Blizzard's Diablo). We have a grasslands, haunted forest, and fire (Inferno!) act. Each act has monsters that somewhat correspond to the theme along with different game mechanics. At the end of each act is a bossfight, where players earn a new ability upon completion of the act. By the time players reach the fire levels, they know how to dash as well as be temporarily invulnerable.</p>

                <img height = "auto" width="300px" img src="images/Ninja_Fighter_HUD.png" /> <br>
                <figcaption > <i>The HUD, before and after "Haung's Mode."</i>
                    </figcaption>

                <p>What's an offline RPG without a cheat code? Pressing 1, 3, 5, and 7 activated "Haung's Mode", named after Dr. Haungs (our game design professor). It made the player really overpowered, and would feature a badly photoshopped Captain "Haungs" America. It was really funny at the time.</p>

                <img height = "auto" width="300px" img src="images/Ninja_Fighter_final_boss.png" /> <br>
                <figcaption > <i>The final boss fight. Firebats and fireballs spawn from the cesspools of darkness. Fireballs shoot in semi-random directions. Madness. Chaos. The skill level of children was not considered when playtesting in our college dorms.</i>
                    </figcaption>

                <p>Remember that part where the master training the boy to become a ninja mysteriously disappears? Turns out, the master had been controlling the darkness the entire time. Dude. Intense, right? Who would've thought?</p>

                <p>When I look back on this project, I tend to poke a lot of fun at the code I wrote and the game we produced. The phenomenon of programmers cringing over old code they wrote is not lost on me. I think this game was still worth documenting, as it serves as a reminder of constant improvement in programming practices. And it truly isn't that bad! Ninja Fighter  was really popular with my two 7 and 8 year old cousins. They wouldn't stop asking to play it...</p>

                <p>Although Ninja Fighter could certainly be improved, I think the goal of the project was certainly achieved. Programming individually has its challenges, but the logistics of coding with others was a whole new beast to get used to. Also, we used Git for version control, and this was where I was forced to learn how to resolve merge conflicts. They gave me nightmares at the time... However, I am happy to report that these are no longer personal issues! I becaem a fan of Git. Some people are thankful for the turky on the table during Thanksgiving. I'm thankful for Git. Okay, maybe not that far.</p>

              </div>
            </div>
            <!-- BUTTON THREE END -->
            <!-- BUTTON FOUR START -->
            <div ng-app="expand" ng-controller="personCtrl">
              <md-button class="md-raised md-secondary" ng-click="toggle()"><b>Power Supply&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;></b></md-button>
              <div ng-show="myVar">
                <!-- HIDDEN CONTENT -->
                <!--
                <md-toolbar class="md-accent  md-hue-1">
                  <div class="md-toolbar-tools">
                    <h3 class="md-flex"><b>Power Supply</b></h3>
                  </div>
                </md-toolbar>
                -->
                <h3>Power Supply</h3>
                Dual-variable power supply with digital meter. <br>
                Manufactured well enough to plug into your standard outlet. <br>
                Maximum 20 volts. <br>
                <!--
                <div>
                <img class = "leftImage" height = "auto" width="300px" img src="images/PSU_case.png" ALIGN="left"/> <br>
                </div>
                <p>Hello World</p>
                <div>
                <img class = "leftImage" height = "auto" width="300px" img src="images/PSU_inner.png" ALIGN="left"/> <br>
                </div>
                -->
                <div layout="row" layout-xs="column">
                  <div flex-gt-sm="40">
                    <img width="300px"img src="images/PSU_case.png"/>
                    <figcaption > <i>Figure 1. Test caption 2.</i>
                    </figcaption>
                  </div>
                  <div flex hide-xs>
                    <p>Here is some text. bblah blahblah blahblah blahblah blahblah blahblah blahblah blahblah blahblah blahblah blahblah blahblah blahblah blahblah blahblah blahblah blahblah blahblah blahblah blahblah blahblah blahblah blahblah blahblah blahblah blahblah blahblah blahblah blahblah blahlah blah</p>
                  </div>
                </div>
                <div layout="row" hide-gt-xs>
                  <p>Here is some text. bblah blahblah blahblah blahblah blahblah blahblah blahblah blahblah blahblah blahblah blahblah blahblah blahblah blahblah blahblah blahblah blahblah blahblah blahblah blahblah blahblah blahblah blahblah blahblah blahblah blahblah blahblah blahblah blahblah blahlah blah</p>
                </div>


                <div layout="row">
                <p>Here is some more text. Here is some more text. Here is some more text. Here is some more text. Here is some more text. Here is some more text. Here is some more text. Here is some more text. Here is some more text. Here is some more text. Here is some more text.</p>
                </div>


                <div layout="row" layout-xs="column">
                  <div flex-gt-sm= "40">
                    <img height = "auto" width="300px" img src="images/PSU_inner.png"/> <br>
                    <figcaption > <i>Figure 2. Test caption 3.</i>
                    </figcaption>
                  </div>
                  <div flex hide-xs>
                    <p>Here is some more text. Here is some more text. Here is some more text. Here is some more text. Here is some more text. Here is some more text. Here is some more text. Here is some more text. Here is some more text. Here is some more text. Here is some more text.</p>
                  </div>
                </div>
                <div layout="row" flex hide-gt-xs>
                <p>Here is some more text. Here is some more text. Here is some more text. Here is some more text. Here is some more text. Here is some more text. Here is some more text. Here is some more text. Here is some more text. Here is some more text. Here is some more text.</p>

                </div>

                <hr size=2>




              </div>
            </div>
            <!-- BUTTON FOUR END -->
            <!-- BUTTON FIVE START
            <div ng-app="expand" ng-controller="personCtrl">
              <md-button class="md-raised md-secondary" ng-click="toggle()"><b>Speed Controller PCB&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;></b></md-button>
              <div ng-show="myVar">
                <h3>Speed Controller PCB</h3>
                Designed for the Cal Poly Robotics Team's Autonomous Golf Cart. <br>
                Speed controller for golf cart steering system. <br>
                Project for Winter 2016 (Not yet complete). <br>
                <img id = "portrait" height = "auto" width="200px" img src="images/portrait.png" /> <br>
              </div>
            </div>
            -->
            <!-- BUTTON FIVE END -->
          </md-content>
        </md-tab>
        <!-------------------------------- Next Set of Buttons ------------------------>
        <md-tab label="Programming ">
          <md-content class="md-padding">
            <h3>Programming</h3>
            <p>Below are demonstrations of programming ability fundamental to most of computing.</p>
            <!-- BUTTON ONE START -->
            <div ng-app="expand" ng-controller="personCtrl">
              <md-button class="md-raised md-secondary" ng-click="toggle()"><b>Sorting Algorithms&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;></b></md-button>
              <div ng-show="myVar">
                <!-- HIDDEN CONTENT -->
                <!--
                <md-toolbar class="md-accent md-hue-1" >
                  <div class="md-toolbar-tools">
                    <h3 class="md-flex"><b>Sorting Algorithms</b></h3>
                  </div>
                </md-toolbar>
                -->
                <!-- INNER BUTTON ONE START -->
                <div ng-app="expand" ng-controller="personCtrl">
                  <md-button class="md-raised md-secondary innerButtonStyle" ng-click="toggle()">Insertion & Selection Sort</md-button>
                  <div ng-show="myVar">
                    <!-- INNER HIDDEN CONTENT -->
                    <md-toolbar class="md-accent">
                      <div class="md-toolbar-tools">
                        <h3 class="md-flex"><b>Insertion & Selection Sort</b></h3>
                      </div>
                    </md-toolbar>
                    <p>A simple class showcasing both insertion & selection sort.</p>
                    <script src="https://gist.github.com/heatsink/00719c6f5bc7262e5d8e8c30f62ff1f0.js"></script>
                    <!-- INNER HIDDEN CONTENT END -->
                  </div>
                </div>
                <!-- INNER BUTTON ONE END -->
                <!-- INNER BUTTON TWO START -->
                <div ng-app="expand" ng-controller="personCtrl">
                  <md-button class="md-raised md-secondary innerButtonStyle" ng-click="toggle()">HeapSort</md-button>
                  <div ng-show="myVar">
                    <!-- INNER HIDDEN CONTENT -->
                    <md-toolbar class="md-accent">
                      <div class="md-toolbar-tools">
                        <h3 class="md-flex"><b>HeapSort</b></h3>
                      </div>
                    </md-toolbar>
                    A simple class showcasing HeapSort. <br>
                    <p>SUPER COOL GITHUB GIST GOES RIGHT HERE</p>
                    <!-- INNER HIDDEN CONTENT END -->
                  </div>
                </div>
                <!-- INNER BUTTON TWO END -->
                <!-- INNER BUTTON THREE START -->
                <div ng-app="expand" ng-controller="personCtrl">
                  <md-button class="md-raised md-secondary innerButtonStyle" ng-click="toggle()">MergeSort</md-button>
                  <div ng-show="myVar">
                    <!-- INNER HIDDEN CONTENT -->
                    <md-toolbar class="md-accent">
                      <div class="md-toolbar-tools">
                        <h3 class="md-flex"><b>MergeSort</b></h3>
                      </div>
                    </md-toolbar>
                    A simple class showcasing MergeSort. <br>
                    <p>SUPER COOL GITHUB GIST GOES RIGHT HERE</p>
                    <!-- INNER HIDDEN CONTENT END -->
                  </div>
                </div>
                <!-- INNER BUTTON THREE END -->
                <!-- INNER BUTTON FOUR START -->
                <div ng-app="expand" ng-controller="personCtrl">
                  <md-button class="md-raised md-secondary innerButtonStyle" ng-click="toggle()">QuickSort</md-button>
                  <div ng-show="myVar">
                    <!-- INNER HIDDEN CONTENT -->
                    <md-toolbar class="md-accent">
                      <div class="md-toolbar-tools">
                        <h3 class="md-flex"><b>QuickSort</b></h3>
                      </div>
                    </md-toolbar>
                    A simple class showcasing QuickSort. <br>
                    <p>SUPER COOL GITHUB GIST GOES RIGHT HERE</p>
                    <!-- INNER HIDDEN CONTENT END -->
                  </div>
                </div>
                <!-- INNER BUTTON FOUR END -->
                <!-- HIDDEN CONTENT END -->
              </div>
            </div>
            <!-- BUTTON ONE END -->
            <!-------------------------------- Next Set of Buttons ------------------------>
            <!-- BUTTON ONE START -->
            <div ng-app="expand" ng-controller="personCtrl">
              <md-button class="md-raised md-secondary" ng-click="toggle()"><b>Data Structures&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;></b></md-button>
              <div ng-show="myVar">
                <!-- HIDDEN CONTENT -->
                <!--
                <md-toolbar class="md-accent md-hue-1">
                  <div class="md-toolbar-tools">
                    <h3 class="md-flex"><b>Data Structures</b></h3>
                  </div>
                </md-toolbar>
                -->
                <!-- INNER BUTTON ONE START -->
                <div ng-app="expand" ng-controller="personCtrl">
                  <md-button class="md-raised md-secondary innerButtonStyle" ng-click="toggle()">Stack</md-button>
                  <div ng-show="myVar">
                    <!-- INNER HIDDEN CONTENT -->
                    <md-toolbar class="md-accent">
                      <div class="md-toolbar-tools">
                        <h3 class="md-flex"><b>Stack</b></h3>
                      </div>
                    </md-toolbar>
                    <p>A simple class showcasing a stack.</p>
                    <script src="https://gist.github.com/heatsink/6a69800adc0dad2dc1a2a5b9721faeec.js"></script>
                    <!-- INNER HIDDEN CONTENT END -->
                  </div>
                </div>
                <!-- INNER BUTTON ONE END -->
                <!-- INNER BUTTON TWO START -->
                <div ng-app="expand" ng-controller="personCtrl">
                  <md-button class="md-raised md-secondary innerButtonStyle" ng-click="toggle()">Queue</md-button>
                  <div ng-show="myVar">
                    <!-- INNER HIDDEN CONTENT -->
                    <md-toolbar class="md-accent">
                      <div class="md-toolbar-tools">
                        <h3 class="md-flex"><b>Queue</b></h3>
                      </div>
                    </md-toolbar>
                    A simple class showcasing a queue. <br>
                    <script src="https://gist.github.com/heatsink/7fe61cd0c0a20a76be706033a38ac085.js"></script>
                    <!-- INNER HIDDEN CONTENT END -->
                  </div>
                </div>
                <!-- INNER BUTTON TWO END -->
                <!-- INNER BUTTON THREE START -->
                <div ng-app="expand" ng-controller="personCtrl">
                  <md-button class="md-raised md-secondary innerButtonStyle" ng-click="toggle()">Circular Queue</md-button>
                  <div ng-show="myVar">
                    <!-- INNER HIDDEN CONTENT -->
                    <md-toolbar class="md-accent">
                      <div class="md-toolbar-tools">
                        <h3 class="md-flex"><b>Circular Queue</b></h3>
                      </div>
                    </md-toolbar>
                    A simple class showcasing a circular queue using an array as the underlying data structure. <br>
                    <script src="https://gist.github.com/heatsink/da9f825724f45e45b50a15647fcb0f2b.js"></script>
                    <!-- INNER HIDDEN CONTENT END -->
                  </div>
                </div>
                <!-- INNER BUTTON THREE END -->
                <!-- INNER BUTTON FOUR START -->
                <div ng-app="expand" ng-controller="personCtrl">
                  <md-button class="md-raised md-secondary innerButtonStyle" ng-click="toggle()">Heap</md-button>
                  <div ng-show="myVar">
                    <!-- INNER HIDDEN CONTENT -->
                    <md-toolbar class="md-accent">
                      <div class="md-toolbar-tools">
                        <h3 class="md-flex"><b>Heap</b></h3>
                      </div>
                    </md-toolbar>
                    A simple class showcasing a heap. <br>
                    <p>SUPER COOL GITHUB GIST GOES RIGHT HERE</p>
                    <!-- INNER HIDDEN CONTENT END -->
                  </div>
                </div>
                <!-- INNER BUTTON FOUR END -->
                <!-- INNER BUTTON FIVE START -->
                <div ng-app="expand" ng-controller="personCtrl">
                  <md-button class="md-raised md-secondary innerButtonStyle" ng-click="toggle()">Hashing</md-button>
                  <div ng-show="myVar">
                    <!-- INNER HIDDEN CONTENT -->
                    <md-toolbar class="md-accent">
                      <div class="md-toolbar-tools">
                        <h3 class="md-flex"><b>Hashing</b></h3>
                      </div>
                    </md-toolbar>
                    A simple class showcasing hashing. <br>
                    <p>SUPER COOL GITHUB GIST GOES RIGHT HERE</p>
                    <!-- INNER HIDDEN CONTENT END -->
                  </div>
                </div>
                <!-- INNER BUTTON FIVE END -->
                <!-- HIDDEN CONTENT END -->
              </div>
            </div>
            <!-- BUTTON ONE END -->
            <!-------------------------------- Next Set of Buttons ------------------------>
            <!-- BUTTON ONE START -->
            <div ng-app="expand" ng-controller="personCtrl">
              <md-button class="md-raised md-secondary" ng-click="toggle()"><b>Graphs&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;></b></md-button>
              <div ng-show="myVar">
                <!-- HIDDEN CONTENT -->
                <!--
                <md-toolbar class="md-accent md-hue-1">
                  <div class="md-toolbar-tools">
                    <h3 class="md-flex"><b>Graphs</b></h3>
                  </div>
                </md-toolbar>
                -->
                <!-- INNER BUTTON ONE START -->
                <div ng-app="expand" ng-controller="personCtrl">
                  <md-button class="md-raised md-secondary innerButtonStyle" ng-click="toggle()">Adjacency Representation</md-button>
                  <div ng-show="myVar">
                    <!-- INNER HIDDEN CONTENT -->
                    <md-toolbar class="md-accent">
                      <div class="md-toolbar-tools">
                        <h3 class="md-flex"><b>Adjacency Representation</b></h3>
                      </div>
                    </md-toolbar>
                    <p>A simple class showcasing a graph with adjacency representation.</p>
                    <p>SUPER GOOD GITHUB GIST GOES RIGHT HERE </p>
                    <!-- INNER HIDDEN CONTENT END -->
                  </div>
                </div>
                <!-- INNER BUTTON ONE END -->
                <!-- INNER BUTTON TWO START -->
                <div ng-app="expand" ng-controller="personCtrl">
                  <md-button class="md-raised md-secondary innerButtonStyle" ng-click="toggle()">Matrix Representation</md-button>
                  <div ng-show="myVar">
                    <!-- INNER HIDDEN CONTENT -->
                    <md-toolbar class="md-accent">
                      <div class="md-toolbar-tools">
                        <h3 class="md-flex"><b>Matrix Representation</b></h3>
                      </div>
                    </md-toolbar>
                    A simple class showcasing a graph with matrix representation. <br>
                    <p>SUPER COOL GITHUB GIST GOES RIGHT HERE</p>
                    <!-- INNER HIDDEN CONTENT END -->
                  </div>
                </div>
                <!-- INNER BUTTON TWO END -->
                <!-- INNER BUTTON THREE START -->
                <div ng-app="expand" ng-controller="personCtrl">
                  <md-button class="md-raised md-secondary innerButtonStyle" ng-click="toggle()">Topological Sort</md-button>
                  <div ng-show="myVar">
                    <!-- INNER HIDDEN CONTENT -->
                    <md-toolbar class="md-accent">
                      <div class="md-toolbar-tools">
                        <h3 class="md-flex"><b>Topological Sort</b></h3>
                      </div>
                    </md-toolbar>
                    A simple class showcasing the use of topological sort to order a directed graph. <br>
                    <p>SUPER COOL GITHUB GIST GOES RIGHT HERE</p>
                    <!-- INNER HIDDEN CONTENT END -->
                  </div>
                </div>
                <!-- INNER BUTTON THREE END -->
                <!-- INNER BUTTON FOUR START -->
                <div ng-app="expand" ng-controller="personCtrl">
                  <md-button class="md-raised md-secondary innerButtonStyle" ng-click="toggle()">Breadth First Search</md-button>
                  <div ng-show="myVar">
                    <!-- INNER HIDDEN CONTENT -->
                    <md-toolbar class="md-accent">
                      <div class="md-toolbar-tools">
                        <h3 class="md-flex"><b>Breadth First Search</b></h3>
                      </div>
                    </md-toolbar>
                    A simple class showcasing breadth first search to traverse a graph. <br>
                    <p>SUPER COOL GITHUB GIST GOES RIGHT HERE</p>
                    <!-- INNER HIDDEN CONTENT END -->
                  </div>
                </div>
                <!-- INNER BUTTON FOUR END -->
                <!-- INNER BUTTON FIVE START -->
                <div ng-app="expand" ng-controller="personCtrl">
                  <md-button class="md-raised md-secondary innerButtonStyle" ng-click="toggle()">Depth First Search</md-button>
                  <div ng-show="myVar">
                    <!-- INNER HIDDEN CONTENT -->
                    <md-toolbar class="md-accent">
                      <div class="md-toolbar-tools">
                        <h3 class="md-flex"><b>Depth First Search</b></h3>
                      </div>
                    </md-toolbar>
                    A simple class showcasing breadth first search to traverse a graph. <br>
                    <p>SUPER COOL GITHUB GIST GOES RIGHT HERE</p>
                    <!-- INNER HIDDEN CONTENT END -->
                  </div>
                </div>
                <!-- INNER BUTTON FIVE END -->
                <!-- INNER BUTTON SIX START -->
                <div ng-app="expand" ng-controller="personCtrl">
                  <md-button class="md-raised md-secondary innerButtonStyle" ng-click="toggle()">Dijkstra's Algorithm</md-button>
                  <div ng-show="myVar">
                    <!-- INNER HIDDEN CONTENT -->
                    <md-toolbar class="md-accent">
                      <div class="md-toolbar-tools">
                        <h3 class="md-flex"><b>Dijkstra's Algorithm</b></h3>
                      </div>
                    </md-toolbar>
                    A simple class showcasing Dijkstra's Algorithm applied to a graph. <br>
                    <p>SUPER COOL GITHUB GIST GOES RIGHT HERE</p>
                    <!-- INNER HIDDEN CONTENT END -->
                  </div>
                </div>
                <!-- INNER BUTTON SIX END -->
                <!-- HIDDEN CONTENT END -->
              </div>
            </div>
            <!-- BUTTON ONE END -->
          </md-content>
        </md-tab>
        <md-tab label="Hardware">
          <md-content class="md-padding">
            <h3>Hardware</h3>
            <p>Here's some hardware fundamentals!</p>
            <!--------- HARDWARE SECTION OF BUTTONS BEGINS -------------------->
            <!-- BUTTON ONE START -->
            <div ng-app="expand" ng-controller="personCtrl">
              <md-button class="md-raised md-secondary" ng-click="toggle()"><b>Combinatorial Circuits&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;></b></md-button>
              <div ng-show="myVar">
                <!-- HIDDEN CONTENT -->
                <!--
                <md-toolbar class="md-accent md-hue-1" >
                  <div class="md-toolbar-tools">
                    <h3 class="md-flex"><b>Combinatorial Circuits</b></h3>
                  </div>
                </md-toolbar>
                -->
                <!-- INNER BUTTON ONE START -->
                <div ng-app="expand" ng-controller="personCtrl">
                  <md-button class="md-raised md-secondary innerButtonStyle" ng-click="toggle()">MUX</md-button>
                  <div ng-show="myVar">
                    <!-- INNER HIDDEN CONTENT -->
                    <md-toolbar class="md-accent">
                      <div class="md-toolbar-tools">
                        <h3 class="md-flex"><b>MUX</b></h3>
                      </div>
                    </md-toolbar>
                    <p>It's a standard MUX.</p>
                    <p>VHDL Gist here!</p>
                    <!-- INNER HIDDEN CONTENT END -->
                  </div>
                </div>
                <!-- INNER BUTTON ONE END -->
                <!-- INNER BUTTON TWO START -->
                <div ng-app="expand" ng-controller="personCtrl">
                  <md-button class="md-raised md-secondary innerButtonStyle" ng-click="toggle()">Decoder</md-button>
                  <div ng-show="myVar">
                    <!-- INNER HIDDEN CONTENT -->
                    <md-toolbar class="md-accent">
                      <div class="md-toolbar-tools">
                        <h3 class="md-flex"><b>Decoder</b></h3>
                      </div>
                    </md-toolbar>
                    It's a decoder.<br>
                    <p>SUPER COOL GITHUB GIST GOES RIGHT HERE</p>
                    <!-- INNER HIDDEN CONTENT END -->
                  </div>
                </div>
                <!-- INNER BUTTON TWO END -->
                <!-- INNER BUTTON THREE START -->
                <div ng-app="expand" ng-controller="personCtrl">
                  <md-button class="md-raised md-secondary innerButtonStyle" ng-click="toggle()">Half Adder</md-button>
                  <div ng-show="myVar">
                    <!-- INNER HIDDEN CONTENT -->
                    <md-toolbar class="md-accent">
                      <div class="md-toolbar-tools">
                        <h3 class="md-flex"><b>Half Adder</b></h3>
                      </div>
                    </md-toolbar>
                    It's a half-adder. <br>
                    <p>SUPER COOL GITHUB GIST GOES RIGHT HERE</p>
                    <!-- INNER HIDDEN CONTENT END -->
                  </div>
                </div>
                <!-- INNER BUTTON THREE END -->
                <!-- INNER BUTTON FOUR START -->
                <div ng-app="expand" ng-controller="personCtrl">
                  <md-button class="md-raised md-secondary innerButtonStyle" ng-click="toggle()">Full Adder</md-button>
                  <div ng-show="myVar">
                    <!-- INNER HIDDEN CONTENT -->
                    <md-toolbar class="md-accent">
                      <div class="md-toolbar-tools">
                        <h3 class="md-flex"><b>Full Adder</b></h3>
                      </div>
                    </md-toolbar>
                    It's a full adder. <br>
                    <p>SUPER COOL GITHUB GIST GOES RIGHT HERE</p>
                    <!-- INNER HIDDEN CONTENT END -->
                  </div>
                </div>
                <!-- INNER BUTTON FOUR END -->
                <!-- HIDDEN CONTENT END -->
                <!-- INNER BUTTON FIVE START -->
                <div ng-app="expand" ng-controller="personCtrl">
                  <md-button class="md-raised md-secondary innerButtonStyle" ng-click="toggle()">Ripple Carry Adder</md-button>
                  <div ng-show="myVar">
                    <!-- INNER HIDDEN CONTENT -->
                    <md-toolbar class="md-accent">
                      <div class="md-toolbar-tools">
                        <h3 class="md-flex"><b>Ripple Carry Adder</b></h3>
                      </div>
                    </md-toolbar>
                    It's a ripple carry adder. <br>
                    <p>SUPER COOL GITHUB GIST GOES RIGHT HERE</p>
                    <!-- INNER HIDDEN CONTENT END -->
                  </div>
                </div>
                <!-- INNER BUTTON FIVE END -->
                <!-- HIDDEN CONTENT END -->
                <!-- INNER BUTTON SIX START -->
                <div ng-app="expand" ng-controller="personCtrl">
                  <md-button class="md-raised md-secondary innerButtonStyle" ng-click="toggle()">Comparator</md-button>
                  <div ng-show="myVar">
                    <!-- INNER HIDDEN CONTENT -->
                    <md-toolbar class="md-accent">
                      <div class="md-toolbar-tools">
                        <h3 class="md-flex"><b>Comparator</b></h3>
                      </div>
                    </md-toolbar>
                    It's a Full Adder. <br>
                    <p>SUPER COOL GITHUB GIST GOES RIGHT HERE</p>
                    <!-- INNER HIDDEN CONTENT END -->
                  </div>
                </div>
                <!-- INNER BUTTON SIX END -->
                <!-- HIDDEN CONTENT END -->
                <!-- INNER BUTTON SEVEN START -->
                <div ng-app="expand" ng-controller="personCtrl">
                  <md-button class="md-raised md-secondary innerButtonStyle" ng-click="toggle()">Parity Generator</md-button>
                  <div ng-show="myVar">
                    <!-- INNER HIDDEN CONTENT -->
                    <md-toolbar class="md-accent">
                      <div class="md-toolbar-tools">
                        <h3 class="md-flex"><b>Parity Generator</b></h3>
                      </div>
                    </md-toolbar>
                    It's a parity generator. <br>
                    <p>SUPER COOL GITHUB GIST GOES RIGHT HERE</p>
                    <!-- INNER HIDDEN CONTENT END -->
                  </div>
                </div>
                <!-- INNER BUTTON SEVEN END -->
                <!-- HIDDEN CONTENT END -->
              </div>
            </div>
            <!-- BUTTON ONE END -->
            <!-------------------------------- Next Set of Buttons ------------------------>
            <!-- BUTTON ONE START -->
            <div ng-app="expand" ng-controller="personCtrl">
              <md-button class="md-raised md-secondary" ng-click="toggle()"><b>Sequential Circuits&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;></b></md-button>
              <div ng-show="myVar">
                <!-- HIDDEN CONTENT -->
                <!--
                <md-toolbar class="md-accent md-hue-1">
                  <div class="md-toolbar-tools">
                    <h3 class="md-flex"><b>Sequential Circuits</b></h3>
                  </div>
                </md-toolbar>
                -->
                <!-- INNER BUTTON ONE START -->
                <div ng-app="expand" ng-controller="personCtrl">
                  <md-button class="md-raised md-secondary innerButtonStyle" ng-click="toggle()">Flip Flops</md-button>
                  <div ng-show="myVar">
                    <!-- INNER HIDDEN CONTENT -->
                    <md-toolbar class="md-accent">
                      <div class="md-toolbar-tools">
                        <h3 class="md-flex"><b>Flip Flops</b></h3>
                      </div>
                    </md-toolbar>
                    <p>It's a flip flop.</p>
                    <p>Gist goes here</p>
                    <!-- INNER HIDDEN CONTENT END -->
                  </div>
                </div>
                <!-- INNER BUTTON ONE END -->
                <!-- INNER BUTTON TWO START -->
                <div ng-app="expand" ng-controller="personCtrl">
                  <md-button class="md-raised md-secondary innerButtonStyle" ng-click="toggle()">Register</md-button>
                  <div ng-show="myVar">
                    <!-- INNER HIDDEN CONTENT -->
                    <md-toolbar class="md-accent">
                      <div class="md-toolbar-tools">
                        <h3 class="md-flex"><b>Register</b></h3>
                      </div>
                    </md-toolbar>
                    <p>It's a register. </p>
                    <p>Gist goes here</p>
                    <!-- INNER HIDDEN CONTENT END -->
                  </div>
                </div>
                <!-- INNER BUTTON TWO END -->
                <!-- INNER BUTTON THREE START -->
                <div ng-app="expand" ng-controller="personCtrl">
                  <md-button class="md-raised md-secondary innerButtonStyle" ng-click="toggle()">Shift Register</md-button>
                  <div ng-show="myVar">
                    <!-- INNER HIDDEN CONTENT -->
                    <md-toolbar class="md-accent">
                      <div class="md-toolbar-tools">
                        <h3 class="md-flex"><b>Shift Register</b></h3>
                      </div>
                    </md-toolbar>
                    <p>It's a shift register.</p>
                    <p>Gist goes here</p>
                    <!-- INNER HIDDEN CONTENT END -->
                  </div>
                </div>
                <!-- INNER BUTTON THREE END -->
                <!-- INNER BUTTON FOUR START -->
                <div ng-app="expand" ng-controller="personCtrl">
                  <md-button class="md-raised md-secondary innerButtonStyle" ng-click="toggle()">Counter</md-button>
                  <div ng-show="myVar">
                    <!-- INNER HIDDEN CONTENT -->
                    <md-toolbar class="md-accent">
                      <div class="md-toolbar-tools">
                        <h3 class="md-flex"><b>Counter</b></h3>
                      </div>
                    </md-toolbar>
                    It's a counter. <br>
                    <p>SUPER COOL GITHUB GIST GOES RIGHT HERE</p>
                    <!-- INNER HIDDEN CONTENT END -->
                  </div>
                </div>
                <!-- INNER BUTTON FOUR END -->
              </div>
            </div>
            <!-- BUTTON ONE END -->
            <!-------------------------------- Next Set of Buttons ------------------------>
            <!-- BUTTON ONE START -->
            <div ng-app="expand" ng-controller="personCtrl">
              <md-button class="md-raised md-secondary" ng-click="toggle()"><b>Controllers&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;></b></md-button>
              <div ng-show="myVar">
                <!-- HIDDEN CONTENT -->
                <!--
                <md-toolbar class="md-accent md-hue-1">
                  <div class="md-toolbar-tools">
                    <h3 class="md-flex"><b>Controllers</b></h3>
                  </div>
                </md-toolbar>
                -->
                <!-- INNER BUTTON ONE START -->
                <div ng-app="expand" ng-controller="personCtrl">
                  <md-button class="md-raised md-secondary innerButtonStyle" ng-click="toggle()">Multiplier By FSM</md-button>
                  <div ng-show="myVar">
                    <!-- INNER HIDDEN CONTENT -->
                    <md-toolbar class="md-accent">
                      <div class="md-toolbar-tools">
                        <h3 class="md-flex"><b>Multiplier By FSM</b></h3>
                      </div>
                    </md-toolbar>
                    <p>A multiplier made using an FSM. </p>
                    <p>SUPER GOOD GITHUB GIST GOES RIGHT HERE </p>
                    <!-- INNER HIDDEN CONTENT END -->
                  </div>
                </div>
                <!-- INNER BUTTON ONE END -->
                <!-- INNER BUTTON TWO START -->
                <div ng-app="expand" ng-controller="personCtrl">
                  <md-button class="md-raised md-secondary innerButtonStyle" ng-click="toggle()">Divider By FSM</md-button>
                  <div ng-show="myVar">
                    <!-- INNER HIDDEN CONTENT -->
                    <md-toolbar class="md-accent">
                      <div class="md-toolbar-tools">
                        <h3 class="md-flex"><b>Divider By FSM</b></h3>
                      </div>
                    </md-toolbar>
                    A divider made using an FSM. <br>
                    <p>SUPER COOL GITHUB GIST GOES RIGHT HERE</p>
                    <!-- INNER HIDDEN CONTENT END -->
                  </div>
                </div>
                <!-- INNER BUTTON TWO END -->
                <!-- HIDDEN CONTENT END -->
              </div>
            </div>
            <!-- BUTTON ONE END -->
          </md-content>
        </md-tab>
      </md-tabs>
    </div>
  </md-content>
  <!-- FOOTER  -->
  <!-- 
  -->
    <div id="footer" class="outer">
       <footer class="inner">
          <h6> Powered by GitHub. <br>Upon its inception, everywhere, coders rejoiced.</h6>
       </footer>
    </div>
    <!--
    -->
  <!-- Angular.js Libraries -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>
  <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>
  <!-- Application Bootstrap  -->
  <script src="javascripts/app.js"></script>
</body>
</html>
