/** BUTTON ANIMATIONS **/

.animate-show, .ng-hide-add, .animate-show, .ng-hide-remove {
  transition: all linear .2s;
}

.animate-show, .ng-hide {
  line-height: 2;
  opacity: 0;
  padding: 0 10px;
  transition: all linear 0.2s;
}

/** @Override md-warn **/
.md-sidenav-left, .md-theme-indigo, .md-sidenav-left, .nav-theme. .md-warn, .md-menu-toolbar {
  background-color: #efefef;
}
/** @Override md-button style **/
.innerButtonStyle {
  margin: auto 30px 10px;
  min-width: 250px;
  /* blue
  color: #0090ff;
  */
  color: #000000;
  background-color:#98fb98;
  border-color: #ff6f00;


}
/** @Override md-hue-1 style (for toolbars)  **/
.md-hue-1, .md-accent {
  color: #ffffff !important;
  background-color:#E0E0E0 !important;
  border-color: #ffffff !important;

}

.leftImage {
  padding: 25px 25px 5px 0px;
}
.rightImage {
  padding: 0px 0px 25px 25px;
}


.resume_banner {
  position: absolute;
  top:0;
  left: 3px;
  z-index: 11;
  padding: 3px 10px 3px 50px;
  color: #fff;
  background: url('../images/icon_portfolio.png') #ff6f00 no-repeat 5% 50%;
  background-size: 25px 25px;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  border-bottom-left-radius: 2px;
  https://github.com/heatsink  border-bottom-right-radius: 2px;
}

.forkme_banner {
  position: absolute;
  top:0;
  right: 3px;
  z-index: 10;
  padding: 3px 50px 3px 10px;
  color: #fff;
  background: url('../images/blacktocat.png') #ff6f00 /*#0090ff*/ no-repeat 95% 50%;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

#mainBody {
  background-color: #f2f2f2;
  border-top: 1px solid #111;
  border-bottom: 1px solid #111;
  /*width:640px;*/
  width: 840px;
}

.outer {
  width: 100%;
  background: #212121;
  background: #efefef;
  background: -moz-linear-gradient(top, #373737, #212121);
  background: -webkit-linear-gradient(top, #373737, #212121);
  background: -ms-linear-gradient(top, #373737, #212121);
  background: -o-linear-gradient(top, #373737, #212121);
  background: linear-gradient(top, #373737, #212121);
}
.md-padding {
  min-height: 250px;
}

.inner {
  position: relative;
  max-width: 840px;
  padding: 20px 10px;
  margin: 0 auto;
}

#bodyText {
  background-color: #f2f2f2;
}

.header {
  padding: 20px 0px 0px 0px;
}
#footer {
  width: 100%;
  background:#212121
  background: -moz-linear-gradient(top, #373737, #212121);
  background: -webkit-linear-gradient(top, #373737, #212121);
  background: -ms-linear-gradient(top, #373737, #212121);
  background: -o-linear-gradient(top, #373737, #212121);
  background: linear-gradient(top, #373737, #212121);

  position: relative;
  bottom: 0;
}

.projectImage {
  /*padding: 1px;*/
  border: 1px solid #efefef;
  box-shadow: 0 0 5px #212121;
  -webkit-box-shadow: 0 0 5px #212121;
  -moz-box-shadow: 0 0 5px #212121;
  -o-box-shadow: 0 0 5px #212121;
  -ms-box-shadow: 0 0 5px #212121;
}

.portrait{
  padding: 2px;
  border: 1px solid #efefef;
  box-shadow: 0 0 5px #ebebeb;
  -webkit-box-shadow: 0 0 5px #ebebeb;
  -moz-box-shadow: 0 0 5px #ebebeb;
  -o-box-shadow: 0 0 5px #ebebeb;
  -ms-box-shadow: 0 0 5px #ebebeb;
}
/* This is Tab Territory */
md-content {
  background:#f2f2f2;
}

#title {
  margin: 0;
  color: #fff;
  font-size: 42px;
  font-weight: 700;
  text-shadow: #111 0px 0px 10px;
}

#tagline {
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  background: none;
  text-shadow: #111 0px 0px 10px;
}

body {
  color:#373737;
  background: #212121;
  background: -moz-linear-gradient(top, #373737, #212121);
  background: -webkit-linear-gradient(top, #373737, #212121);
  background: -ms-linear-gradient(top, #373737, #212121);
  background: -o-linear-gradient(top, #373737, #212121);
  background: linear-gradient(top, #373737, #212121);
  font-size: 16px;
  font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-weight: 700;
  color:#222222;
  font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
  letter-spacing: -1px;
}

h1 {
  font-size: 48px; /*36*/
  padding: 15px 0px 0px 0px;
  font-weight: 700;
}

h2 {
  padding-bottom: 0px;
  font-size: 40px; /*32*/
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 21px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
  color: #efefef;
}

p {
  margin: 10px 0 15px 0;
}

a {
  text-decoration: none;
  color: #007edf;
  text-shadow: none;
  transition: color 0.5s ease;
  transition: text-shadow 0.5s ease;
  -webkit-transition: color 0.5s ease;
  -webkit-transition: text-shadow 0.5s ease;
  -moz-transition: color 0.5s ease;
  -moz-transition: text-shadow 0.5s ease;
  -o-transition: color 0.5s ease;
  -o-transition: text-shadow 0.5s ease;
  -ms-transition: color 0.5s ease;
  -ms-transition: text-shadow 0.5s ease;
}

@media only screen and (max-width:510px) {
  .invisible {
    display: none;
  }
  .forkmeMobile {
  position: relative;
  top:0;
  left: 0px;
  z-index: 10;
  padding: 3px 10px 3px 50px;
  background: url('../images/blacktocat.png') #ff6f00 /*#0090ff*/ no-repeat 5% 50%;
}
.resumeMobile {
  position: relative;
  top:-20px;
  left: -15px;
  z-index: 11;
  padding: 3px 10px 3px 50px;
  background: url('../images/icon_portfolio.png') #ff6f00 no-repeat 5% 50%;
  background-size: 25px 25px;
}
.mobileHeader {
  padding: 0px 0 0px 0;

}
.mobileTitle {
  position: relative;
  top: -40px;
}
.mobileTagline {
  position: relative;
  top: -40px;
  }
.mobileInner {
  padding: 20px 0px 0px 10px;
  }
}
