/** ACCORDION STUFF **/
.accordion {
    background-color: #E0E0E0;
    color: #444;
    padding: 10px;
    width: 95%;
    text-align: center;
    font-size: 15px;
    transition: 0.1s;
    
  border: 1px solid #efefef;
  ox-shadow: 0 0 5px #212121;
  -webkit-box-shadow: 0 0 5px #212121;
  -moz-box-shadow: 0 0 5px #212121;
  -o-box-shadow: 0 0 5px #212121;
  -ms-box-shadow: 0 0 5px #212121;
}
html, .md-default-theme {
  color:#373737;
  background:#212121;
  background: -webkit-linear-gradient(left, #373737, #212121); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #373737, #212121); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #373737, #212121); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #373737 , #212121); /* Standard syntax */
  /*
  background: -moz-linear-gradient(top, #373737, #212121);
  background: -webkit-linear-gradient(top, #373737, #212121);
  background: -ms-linear-gradient(top, #373737, #212121);
  background: -o-linear-gradient(top, #373737, #212121);
  background: linear-gradient(top, #373737, #212121);
  */
}

.accordion.active, .accordion:hover {
    background-color: #000000;
    font-size: 15px;
    color: #0090ff;
    border: 1px solid #efefef;
  box-shadow: 0 0 5px #0090ff;
  -webkit-box-shadow: 0 0 5px #0090ff;
  -moz-box-shadow: 0 0 5px #0090ff;
  -o-box-shadow: 0 0 5px #0090ff;
  -ms-box-shadow: 0 0 5px #0090ff;
    /*margin-left: 5px;*/
    

}
.divContent {
  border: 1px solid #efefef;
  ox-shadow: 0 0 5px #121212;
  -webkit-box-shadow: 0 0 5px #121212;
  -moz-box-shadow: 0 0 5px #121212;
  -o-box-shadow: 0 0 5px #121212;
  -ms-box-shadow: 0 0 5px #121212;
  padding: 5px;
}

/*
.accordion:after {
    
}

.accordion.active:after {
content: "\2796";
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: 0.1s ease-in-out;
    opacity: 0;
}

.panel.show {
    opacity: 1;
    max-height: 500px;
}
.icon-resize-small {
    background: url('../images/icon_portfolio.png') #ff6f00 no-repeat 100% 100%;
    content: '\02795';
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
    padding: 0px 15px 10px 15px;
}

.icon-fullscreen {
content: "\2796";
font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
    padding: 0px 15px 10px 15px;
}
*/

/*This is the css you need to add*/
.md-tab:hover {
    /*background-color: #E0E0E0 !important;*/
    background-color: #f2f2f2;
    color: #0090ff;
    border: none;
  box-shadow: #0090ff;
  -webkit-box-shadow: 0 0 5px #0090ff;
  -moz-box-shadow: 0 0 5px #0090ff;
  -o-box-shadow: 0 0 5px #0090ff;
  -ms-box-shadow: 0 0 5px #0090ff;
}
/** BUTTON ANIMATIONS **/
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDown {
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

.animate-show, .ng-hide-add, .animate-show, .ng-hide-remove, .fadeIn {
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  /*transition:  0.1s;*/
}

.animate-show, .ng-hide, .fadeOut {
  -webkit-animation: none 0s !important;
}

/** @Override md-warn **/
.md-sidenav-left, .md-theme-indigo, .md-sidenav-left, .nav-theme. .md-warn, .md-menu-toolbar {
  background-color: #efefef;
}
/** @Override md-button style **/

.smallAccordion {
  width: 40%;
  padding: 0px;
  background-color:#E4E4E4;
  font-weight: lighter;
}
.innerButton:active, .innerButton:hover {
    background-color: #000000;
    font-size: 15px;
    color: #0090ff;
    /*margin-left: 5px;*/
    -webkit-box-shadow: 0 0 5px #212121;
  -moz-box-shadow: 0 0 5px #212121;
  -o-box-shadow: 0 0 5px #212121;
  -ms-box-shadow: 0 0 5px #212121;
}
/** @Override md-hue-1 style (for toolbars)  **/
.md-hue-1, .md-accent {
  color: #ffffff !important;
  background-color:#E0E0E0 !important;
  border-color: #ffffff !important;

}

.leftImage {
  padding: 25px 25px 5px 0px;
}
.rightImage {
  padding: 0px 0px 25px 25px;
}


.resume_banner {
  position: absolute;
  bottom:0;
  left: 3px;
  z-index: 11;
  padding: 3px 10px 3px 50px;
  color: #fff;
  background: url('../images/icon_portfolio.png') #ff6f00 no-repeat 5% 50%;
  background-size: 25px 25px;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  border-bottom-left-radius: 2px;
  https://github.com/heatsink  border-bottom-right-radius: 2px;
}

.forkme_banner {
  position: absolute;
  bottom:0;
  right: 3px;
  z-index: 10;
  padding: 3px 50px 3px 10px;
  color: #fff;
  background: url('../images/blacktocat.png') #ff6f00 /*#0090ff*/ no-repeat 95% 50%;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
.footer_message {
    position: relative;
    padding:10px;
}
#mainBody {
  background-color: #f2f2f2;
  border-top: 1px solid #111;
  border-bottom: 1px solid #111;
  /*width:640px;*/
}

.outer {
  width: 100%;
  background: #212121;
  background: -moz-linear-gradient(top, #373737, #212121);
  background: -webkit-linear-gradient(top, #373737, #212121);
  background: -ms-linear-gradient(top, #373737, #212121);
  background: -o-linear-gradient(top, #373737, #212121);
  background: linear-gradient(top, #373737, #212121);
}
.md-padding {
  /*min-height: 250px;*/
  min-height:275px;
}

.inner {
  position: relative;
  max-width: 1140px;
  padding: 10px 10px;
  margin: 0 auto;
}

#bodyText {
  background-color: #f2f2f2;
}

#footer {
  /*width: 100%;*/
  /*
  height: 200px;
  background:#212121
  background: -moz-linear-gradient(top, #373737, #212121);
  background: -webkit-linear-gradient(top, #373737, #212121);
  background: -ms-linear-gradient(top, #373737, #212121);
  background: -o-linear-gradient(top, #373737, #212121);
  background: linear-gradient(top, #373737, #212121);
  */  bottom:0;
  left:0;
}

.projectImage {
  /*padding: 1px;*/
  border: 1px solid #efefef;
  box-shadow: 0 0 5px #212121;
  -webkit-box-shadow: 0 0 5px #212121;
  -moz-box-shadow: 0 0 5px #212121;
  -o-box-shadow: 0 0 5px #212121;
  -ms-box-shadow: 0 0 5px #212121;
}

.portrait{
  padding: 2px;
  border: 1px solid #efefef;
  box-shadow: 0 0 5px #ebebeb;
  -webkit-box-shadow: 0 0 5px #ebebeb;
  -moz-box-shadow: 0 0 5px #ebebeb;
  -o-box-shadow: 0 0 5px #ebebeb;
  -ms-box-shadow: 0 0 5px #ebebeb;
}
/* This is Tab Territory */
md-content {
  background:#f2f2f2;
}

#title {
  margin: 10px;
  color: #fff;
  font-size: 42px;
  font-weight: 700;
  text-shadow: #111 0px 0px 10px;
}

#tagline {
  color: #fff;
  margin: 5px;
  font-size: 24px;
  font-weight: 300;
  background: none;
  text-shadow: #111 0px 0px 10px;
}

#wrapper {
  min-height:100%;
  position:relative;
  background-color:#212121;
  color:#212121;
}

body {

  margin:0;
  padding:0;

  color:#373737;
  background:#212121;
  background: -webkit-linear-gradient(left, #373737, #212121); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #373737, #212121); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #373737, #212121); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #373737 , #212121); /* Standard syntax */
  /*
  color:#373737;
  background: #212121;
  background: -moz-linear-gradient(top, #373737, #212121);
  background: -webkit-linear-gradient(top, #373737, #212121);
  background: -ms-linear-gradient(top, #373737, #212121);
  background: -o-linear-gradient(top, #373737, #212121);
  background: linear-gradient(top, #373737, #212121);
  */
  font-size: 16px;
  font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px 0;
  font-weight: 700;
  color:#222222;
  font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
  letter-spacing: -1px;
}

h1 {
  font-size: 48px; /*36*/
  padding: 0px 0px 0px 0px;
  font-weight: 700;
}

h2 {
  padding-bottom: 0px;
  font-size: 40px; /*32*/
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 21px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
  color: #efefef;
}

p {
  margin: 10px 0 15px 0;
}

a {
  text-decoration: none;
  color: #007edf;
  text-shadow: none;
  transition: color 0.5s ease;
  transition: text-shadow 0.5s ease;
  -webkit-transition: color 0.5s ease;
  -webkit-transition: text-shadow 0.5s ease;
  -moz-transition: color 0.5s ease;
  -moz-transition: text-shadow 0.5s ease;
  -o-transition: color 0.5s ease;
  -o-transition: text-shadow 0.5s ease;
  -ms-transition: color 0.5s ease;
  -ms-transition: text-shadow 0.5s ease;
}

@media only screen and (max-width:510px) {
  .invisible {
    display: none;
  }
  .forkmeMobile {
  position: relative;
  top:0;
  left: 0px;
  z-index: 10;
  padding: 3px 10px 3px 50px;
  background: url('../images/blacktocat.png') #ff6f00 /*#0090ff*/ no-repeat 5% 50%;
}
.resumeMobile {
  position: relative;
  top:-20px;
  left: -15px;
  z-index: 11;
  padding: 3px 10px 3px 50px;
  background: url('../images/icon_portfolio.png') #ff6f00 no-repeat 5% 50%;
  background-size: 25px 25px;
}
.mobileHeader {
  padding: 0px 0 0px 0;

}
.mobileTitle {
  position: relative;
  padding: 25px 0px 0px 10px;
  top: -40px;
}
.mobileTagline {
  position: relative;
  top: -40px;
  }
.mobileInner {
  padding: 20px 0px 0px 0px;
  }
.projectImage {
  width: 300px;
  position: relative;
}
.smallAccordion {
width: 80%;
}
.md-padding {
  min-height:275px;
}
}

